@font-face{ 
  font-family: 'alsschlangeregular';
  src: url('../fonts/alsschlangeregular-webfont.woff2') format('woff2');
  src: url('../fonts/alsschlangeregular-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
$font-color: #605d5c!important;

html {
}
body {
  font-family: 'alsschlangeregular';
  color: $font-color;
  margin: 0;
  padding: 0;
}

/*-----------------------------SCREEN FIRST---------------------------------*/
.screen__header {
  background: #C2C1C8;
  @media (min-width:1024px) {
    background-image: url(../img/first_screen_bg.jpg);
    background-position: center;
  }
}
.header {
  @media (min-width:992px) {
    box-shadow: 0 5px 3px rgba(83, 84, 83, .34);
    background: #FFF;
    }
}
.navbar-expand-lg {
  padding: 0;
}
.logo {
  padding: 0 0 0 30px;
}
.navbar-nav {
  height: max-content;
  @media (min-width:992px) {
    height: 55px;
    width: 80%;
    padding-right: 30px;
  }
}
.navbar-toggler {
  margin: 20px 30px;
  &:focus {
    outline: none;
  }
}
.nav-link {
  text-align: right;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 55px;
  padding: 0;
  background: rgba(255, 255, 255, .5);
  margin-top: 5px;
  padding-right: 30px!important;
  color: $font-color;
  @media (min-width:992px) {
    background: transparent;
    padding-right: 0px!important;
    margin-top: 0;
  }
  &:hover {
  background: #AF9E8E;
  color: #fff!important;
  }
}
.header__content {
  padding: 100px 10px 0;
  max-width: 900px;
  @media (min-width:992px) {
    padding: 100px 0 0;
  }
}
.header__logo {
  width: 100%;
  @media (min-width:992px) {
    max-width: 630px;
  }
}
.header__title {
  margin-top: 30px;
  width: 100%;
  @media (min-width:992px) {
    max-width: 720px;
  }
}
.search {
  text-transform: uppercase;
  margin: 90px 0 50px;
  font-size: 30px;
}
.arrow {
  margin-bottom: 25px;
  &:hover {
    transform: translateY(10px);
    transition: transform .5s ease-in-out;
  }
  &:hover .polygon {
    stroke-width: 3px;
    stroke: rgba(0, 0, 0, .5);
  }
}



/*-----------------------------SCREEN SECOND (Galary)---------------------------------*/


.screen__galary {
  background-color: #fff;
  padding-top: 125px;
}
.galary__title {
  font-size: 42px;
  text-align: center;
  margin-bottom: 105px;
}
.indicator {
  text-indent: 0!important;
  background: transparent;
  top: 70px;
  text-align: center;
  padding-top: 4px;
  cursor: pointer;
  &:hover {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, .1)!important;
  }
  &.active {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #AF9E8E!important;
  }
}
.slide__item {
  background: #FFF;
  padding: 20px;
}
.slide__card {
  padding: 20px;
  background: #E9E9E9;
  text-align: center;
  cursor: pointer;
  &:hover {
    background: #FFF;
    box-shadow: 0 0 13px #000;
  }
}
.slide__img {
  width: 100%;
  /*margin: 10px;*/
}
.slide__name {
  font-size: 17px;
  margin-top: 35px;
}
.contact__button {
  border-radius: 25px;
  text-transform: uppercase;
  color: #FFF;
  background: #AF9E8E;
  font-size: 17px;
  line-height: 50px;
  border:none;
  width: 230px;
  margin-top: 170px;
  &:hover {
    box-shadow: 0 0 13px #000;
  }
  &:focus {
    outline: none;
  }
}


/*-----------------------------SCREEN THIRD (About)---------------------------------*/

.about {
  padding-top: 140px;
  padding-bottom: 100px;
}
.about__title {
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  margin-bottom: 95px;
}
.about__subtitle {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  font-family: 'arial';
}
.about p {
  font-size: 14px;
  margin-bottom: 40px;
  font-family: 'alsschlangeregular';
}


/*-----------------------------FOOTER---------------------------------*/


.footer {
  background-color: #af9e8e;
  height: 430px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  /*justify-content: center;*/
}
.footer__title {
  color: #FFF;
  text-transform: uppercase;
  font-size: 19px;
}
.footer__input {
  width: 335px;
  line-height: 55px;
  text-align: center;
  font-family: 'alsschlangeregular';
  &:focus {
    outline: none;
  }
}
.wrap{
  margin-top: 50px;
  width: 290px;
  & img {
    margin-left: 25px;
    vertical-align: initial;
  }
  &:hover {
    text-decoration: none;
  }
}
.social__contact {
  text-transform: uppercase;
  color: #FFF;
  font-size: 19px;
}
/*-----------------------------@MEDIA---------------------------------*/


/*@media only screen and (max-width: 992px) {
  .about-banner {
    margin:0 auto
  }
  .contact__form {
    max-width: 658px
  }
  .contact__form__input,.contact__form__textarea {
    width: 280px
  }
  .contact__form__textarea {
    width: 598px
  }
  #burger {
    display: block;
    margin-left: 60%;
    margin-bottom: 20px;
  }
  .screen__header {
    padding-top: 0;
  }
  .header__title {
    margin-top: 300px;
  }
  .menu {
    position: static;
    align-items: flex-start;
    &__link {
      margin: 10px 0;
      transition: transform .5s;
      transform: translateX(300px);
    }
  }
  .menu__link_visible {
    transform: translateX(0px);
  }
  #nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .contact__form {
    max-width: 350px
  }
  .footer {
    display: block;
    text-align: center;
    padding-top: 40px;      
  }
  .contact__form__input,.contact__form__textarea,.contact__form__textarea,.contact__form__submit {
    width: 280px
  }
}
@media only screen and (max-width: 480px) {
  .to-top-btn {
    width:42px;
    height: 42px;
    padding: 7px 0 0;
    bottom: 75px
  }
}
@media only screen and (max-width: 440px) {
    .team__slider {
        width:250px
    }
}
@media only screen and (max-width: 360px) {
  .bottom__contacts__link {
    margin:0 5px
  }
  .contact__form {
    max-width: 270px
  }
  .contact__form__input,.contact__form__textarea,.contact__form__textarea,.contact__form__submit {
    width: 200px
  }
  .contact__btn {
    width: 280px;
    height: 95px;
    padding-left: 71px;
    -webkit-transform: translateX(209px);
    transform: translateX(209px)
  }
  .contact__btn__icon {
    width: 71px
  }
  .contact__btn__info {
    width: 209px
  }
}
*/